.pagina {
    background-color: #F3F5FC;
}

.pagina__caixadetexto {
    background-color: #F3F5FC;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    
}